@media all and (max-width: 670px) {
    .header-left .child {
        color: white;
    }
    
     .header-left {
        color: black;
        background-color: rgba(34, 49, 52, 0.9);
        opacity: 0.4;
        font-size: 20px;
    }
    .child {
        color: black;
        background-color: rgba(34, 49, 52, 0.9);
        font-size: 20px;
    }
    
    header {
        height: 70px;
    }
    
    .header-right {
        display: none;
    }
    
    /*span.menu-icon {
        display: block;
        float: left;
        margin-bottom: 60px;
        margin-left: 5px;
        padding-bottom: 100px;
        padding-left: 5px;
    }*/
    
    .wrapper {
        margin-left: 0;
        width: 100%;
        background-image: linear-gradient(to bottom right, blue, white);
    }
}
