@media all and (max-width: 670px) {
    .header-left .child {
        color: white;
    }
    
    .header-right {
        display: none;
    }
    
    span.menu-icon {
        display: block;
        float: left;
    }
    
    .wrapper {
        margin-left: 0;
        width: 100%;
    }
}
