* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to bottom right, blue, white);
  margin-top: 20px;
}

.menu-icon {
  display: none;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 0;
}

.child {
  text-indent: 100px;
}

.header-right {
  float: right;
  margin-right: 50px;
}

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.header-right a {
  text-decoration: none;
  line-height: 65px;
  padding: 0 5px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

audio {
  margin-top: 130px;
}

.wrapper {
  margin-top: 20px;
  margin-left: 340px;
  display: flex;
  max-width: 650px;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  margin-right: 150px;
  margin-left: 60px;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-heading {
  margin-top: 50px;
}

h5 {
  font-weight: normal;
  margin-bottom: 20px;
}
